* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    user-select: none;
}

body {
    background: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #202020;
    padding: 6px 20px 1px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.service_name {
    margin-bottom: 3px;
    user-select: none;
    cursor: pointer;
}

.search_container {
    margin-right: 310px;
}

.cart_container {
    margin-right: 20px;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.main {
    margin-top: 110px;
}

h1{
    text-align: center;
    color: white;
}

input {
    border: none;
    border-radius: 10px;
    font-weight: 500;
    transition: .15s;
    background: #303030;
    color: orange;
}
input:focus{
    outline: none;
}

.svg-inline--fa {
    color: orange;
}

.responseError {
    color: orangered;
}

.responseSuccess {
    color: chartreuse;
}

.fa-plus {
    transition: .5s;
}

.product_not_found_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0 32vw;
    border-radius: 20px;
    background: #252525;
}

.product_not_found_message {
    color: #676666;
    font-size: 110%;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 165, 0, 0.6);
    border-radius: 10px;
    height: 30px;
}

