* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #202020;
    padding: 10px 5px 1px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    display: block;
}

.service_name {
    margin-bottom: 10px;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.main {
    margin-top: 140px;
}

h1{
    text-align: center;
    color: white;
}

input:focus{
    outline: none;
}

.svg-inline--fa {
    color: orange;
}

.responseError {
    color: orangered;
}

.responseSuccess {
    color: chartreuse;
}

.fa-plus {
    transition: .5s;
}