.cart_counter {
    position: absolute;
    color: white;
    border-radius: 12px;
    border: 2px solid #303030;
    padding: 1px 5px 0 4px;
    background: orange;
    font-size: 13px;
    margin-top: -8px;
    margin-left: -5px;
}

.cart_counter.zero {
    display: none;
}

.cart_modal_container {
    position: absolute;
    z-index: 100;
    height: calc(100vh - 300px);
    width: 400px;
    right: 45px;
    top: 90px;
    transition: .5s;
    padding: 12px 20px;
    background: #303030;
    border-radius: 12px;
    overflow: auto;
}

.cart_product_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.cart_modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.cart_modal_name {
    color: white;
    font-size: 2em;
}

.cart_modal_clear {
    color: gray;
    font-size: 1em;
    border-radius: 12px;
}