.product_add_container {
    position: absolute;
    left: 250px;
    top: 14px;
}

.product_add_open_button {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 11;
}

.product_add_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #303030;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 5);
    z-index: 10;
    left: 50%;
    top: -300%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    transition: .6s;
    will-change: top, left, transform;
}

.product_add_form_open {
    top: 500%;
    left: 50%;
    scale: 1;
    transition: .6s;
}

.product_add_form_push_button {
    width: 40px;
}

.product_add_form_input {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.28);
    padding: 8px 8px 10px 18px;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 5px 0;
    transition: .15s;
    z-index: 3;
    background: #303030;
    color: orange;
}

.product_add_open_button_icon {
    transform: rotate(45deg);
    transition: .5s;
}